<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/insertData" method="post">
        <table border="" align="center">
            <caption>
                <h2>Edit User Data</h2>
            </caption>
            <tr>
                <td>UserName</td>
                <td>
                    <input type="text" name="username" id="" value="<%= data.username %>" >
                    <input type="hidden" name="editId" id="" value="<%= data.id %>">
                    
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id="" value="<%= data.email %>"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password" id="" value="<%= data.password %>"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone" id="" value="<%= data.phone %>" ></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" name="gender" value="male" <% if(data.gender == 'male') { %>checked<% } %>  id=""  >Male
                    <input type="radio" name="gender" value="female"  <% if(data.gender == 'female'){ %> checked <% } %> id="">female
                </td>
            </tr>
            <tr>
                <td>Hobby</td>
                <td>
                    <input type="checkbox" name="hobby" value="music" <% if(data.hobby.includes('music')) {%> checked <% }%> id="">music
                    <input type="checkbox" name="hobby" value="reading" <% if(data.hobby.includes('reading')) {%> checked <% }%> id="">reading
                    <input type="checkbox" name="hobby" value="writting" <% if(data.hobby.includes('writting')) {%> checked <% }%> id="">writting
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <textarea name="address" id=""> <%= data.address %> </textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Data" ></td>
            </tr>
        </table>
    </form>

    

</body>
</html>