<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>
<body>

    <form action="/insertData" method="post" enctype="multipart/form-data">
        <table border="" align="center" class="table">
            <caption>
                <h2>Add User Data</h2>
            </caption>
            <tr>
                <td>UserName</td>
                <td>
                    <input type="text" name="username" id="">
                    <input type="hidden" name="id" value="<%= Date.now() %>">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password" id=""></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone" id=""></td>
            </tr>
            <tr>
                <td>File</td>
                <td><input type="file" name="image" id=""></td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <select name="city" id="">
                        <option value="" disabled selected>--select-city--</option>
                        <%
                            let City = ["Surat","Vapi","Rajkot","Baroda"];
                            City.map((val,idx)=>{
                        %>
                                <option value="<%= val %>"><%= val %></option>
                        <%
                            })
                        %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" name="gender" value="male" id="">Male
                    <input type="radio" name="gender" value="female" id="">female
                </td>
            </tr>
            <tr>
                <td>Hobby</td>
                <td>
                    <input type="checkbox" name="hobby" value="music" id="">music
                    <input type="checkbox" name="hobby" value="reading" id="">reading
                    <input type="checkbox" name="hobby" value="writting" id="">writting
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <textarea name="address" id=""></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Data" class="btn btn-success" ></td>
            </tr>
        </table>
    </form>

    <table border="" align="center">
        <caption>
            <h2>User Data</h2>
        </caption>
        <tr>
            <td>User Name</td>
            <td>Email</td>
            <td>Password</td>
            <td>phone</td>
            <td>city</td>
            <td>Gender</td>
            <td>Hobby</td>
            <td>Address</td>
            <td>Image</td>
            <td>Action</td>
        </tr>

        <% data.map((val,idx)=>{ %>
            <tr>
                <td><%= val.username %></td>
                <td><%= val.email %></td>
                <td><%= val.password %></td>
                <td><%= val.phone %></td>
                <td><%= val.city %></td>
                <td><%= val.gender %></td>
                <td><%= val.hobby %></td>
                <td><%= val.address %></td>
                <td>
                    <img src="<%= val.image %>" alt="image" width="100px">
                </td>
                <td>
                    <a href="/deleteData/<%= val.id %>">Delete</a>
                    <a href="/editData/<%= val.id %>">Edit</a>
                </td>
            </tr>    
        <% }) %>

    </table>

</body>
</html>