<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/insertData" method="post">
        <table border="1" align="center">
            <caption>
                <h2>Add Employee Data</h2>
            </caption>
            <tr>
                <td>id</td>
                <td>
                    <input type="text" name="id" value="<%= data.id %>" disabled>
                    <input type="hidden" name="editId" value="<%= data.id %>">
                </td>
            </tr>
            <tr>
                <td>username</td>
                <td><input type="text" name="username" value="<%= data.username %>"></td>
            </tr>
            <tr>
                <td>email</td>
                <td><input type="text" name="email" value="<%= data.email %>"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="text" name="password" value="<%= data.password %>"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="add Data"></td>
            </tr>
        </table>
    </form>
</body>
</html>