<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            text-align: center;
        }
    </style>
</head>
<body>

    <h2>Add Students Data</h2>
    <form action="/insertData" method="post">
        <table border="" align="center">
            <tr>
                <td>Id</td>
                <td><input type="text" name="id" id=""></td>
            </tr>
            <tr>
                <td>UserName</td>
                <td><input type="text" name="username" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password" id=""></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Data" ></td>
            </tr>
        </table>
    </form>

    <h2>Students Data</h2>
    <table border="1" align="center">
        <tr>
            <td>id</td>
            <td>UserName</td>
            <td>Email</td>
            <td>Password</td>
            <td>Action</td>
        </tr>

        <% students.map((val,i)=>{ %>
            <tr>
                <td><%= val.id %></td>
                <td><%= val.username%></td>
                <td><%= val.email%></td>
                <td><%= val.password%></td>
                <td>
                    <a href="/deleteData?id=<%= val.id %>">Delete</a>
                    <a href="/editData?id=<%= val.id %>">Edit</a>
                </td>
            </tr>
        <% }) %>

    </table>
</body>
</html>