<%- include('../partials/header') %>
<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Add Admin Data</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      add Admin
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <h4 class="card-title">Edit Admin Info</h4>
                    <% let name = admin.name.split(" "); %>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >First Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="fname"
                          name="fname"
                          value="<%= name[0] %>"

                          placeholder="First Name Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Last Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="lname"
                          name="lname"
                          value="<%= name[1] %>"
                          placeholder="Last Name Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >email</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          name="email"
                          value="<%= admin.email %>"
                          placeholder="email Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Password</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="lname"
                          name="password"
                          value="<%= admin.password %>"
                          placeholder="password Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Gender</label
                      >
                      <div class="col-sm-9">
                        <div class="form-check">
                        <input
                          type="radio"
                          class="form-check-input"
                          id="customControlValidation1"
                          name="gender"
                          value="male"
                          <% if(admin.gender ==  "male") { %>checked<% } %>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlValidation1"
                          >Male</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          type="radio"
                          class="form-check-input"
                          id="customControlValidation2"
                          name="gender"
                          value="female"
                          <% if(admin.gender == "female") {%>checked<%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlValidation2"
                          >Female</label
                        >
                      </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Hobby</label
                      >
                      <div class="col-sm-9">
                        <div class="form-check mr-sm-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="customControlAutosizing1"
                          name="hobby"
                          value="dance"
                          <% if(admin.hobby.includes("dance")) {%>checked<%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlAutosizing1"
                          >Dance</label
                        >
                      </div>
                      <div class="form-check mr-sm-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="customControlAutosizing2"
                          name="hobby"
                          value="music"
                          <% if(admin.hobby.includes("music")) {%>checked<%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlAutosizing2"
                          >Music</label
                        >
                      </div>
                      <div class="form-check mr-sm-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="customControlAutosizing3"
                          name="hobby"
                          value="reading"
                          <% if(admin.hobby.includes("reading")) {%>checked<%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlAutosizing3"
                          >Reading</label
                        >
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                        <div class="text-end ">
                            <img src="../<%= admin.image %>" alt="<%= admin.name %>" width="100">
                            <input type="hidden" value="<%= admin.image %>" name="oldImage"/>
                        </div>
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Image</label
                      >
                      <div class="col-sm-9">
                        
                        <input
                          type="file"
                          class="form-control"
                          id="lname"
                          name="image"
                          placeholder="email Here"
                        />
                      </div>
                    </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
      </div>
<%- include('../partials/footer') %>
