<%- include('../partials/header') %>
<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Profile</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Profile
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
           <% const {name,image,email,id} = admin %>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-body printableArea">
                <h3>
                    <b><%= name %></b> 
                    <a
                      href="/edit_admin/<%= id %>"
                      class="btn btn-sm btn-success btn-rounded text-white"
                      >View Profile</a
                    >
                 </h3>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="pull-left">
                        <img class="rounded-circle" src="<%= image %>" alt="<%= name %>" width="75px" height="75px" />
                        <p class="text-muted ms-1">
                          <%= email %>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <%- include('../partials/footer') %>